body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('../v748-toon-131.jpg'); /* Make sure image exists */
    color: #fff;
    margin: 0;
    padding: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
      background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 10;
}

.container {
    width: 45%;
    margin: 60px auto;
    padding: 30px;
    background-color: #161b22;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(221, 225, 225, 0.3);
    text-align: center;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.password-form input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    background-color: #21262d;
    color: white;
}

.password-form button {
    background-color: #000000;
    color: rgb(214, 212, 212);
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.password-form button:hover {
    background-color: #000000;
}

.message {
    margin-top: 20px;
    font-weight: bold;
    color: #ffc107;
}

.back-btn {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #fbfcfc;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #0056b3;
}
